

{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
	<h1>Connexion</h1>
	<p>Trouvez le candidat idéal !</p>
{% endblock %}

{% block titre_section %}
{% endblock %}


{% block page %}
	<p>
		<center>
			<form action="{{ path ('traitementConnexion') }}" method="post" name ="infosConnex" style="max-width:300px;">
				
				<div class="form-group" >
					<h3><b>Nom d'utilisateur</b></h3>
					<input type="text" class="form-control" placeholder="Indiquez votre nom d'utilisateur" name="login"/>
				</div>
				

		    	<div class="form-group" >
		    		<h3><b>Mot de passe</b></h3>
		      		<input type="password" class="form-control" placeholder="Entrez votre mot de passe" name="mdp"/>
		    	</div>
		
			  
				<div class="form-group">
					<center><button type="submit" class="btn btn-primary"><b>Connexion</b></button></center>
				</div>
			</form>
		</center>
	</p>
{% endblock %}