{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
<h1>Portefolio</h1>
        <p>Bienvenue sur le portefeuille de compétences de l'UPJV.</p>
{% endblock %}

{% block titre_section %}
<h1>Accueil</h1>
{% endblock %}

{% block page %}
test
{% endblock %}

{% block script %}


<script>
            $(document).ready(function(){
                console.log("Script working properly");
            });
        </script>

{% endblock %}