{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
<h1>Portefolio</h1>
        <p>Bienvenue sur le portefeuille de compétences de l'UPJV.</p>
{% endblock %}

{% block titre_section %}
<h1>Accueil</h1>
{% endblock %}

{% block page %}
Accueil --> pour bootstrap et ses exemple utiliser le lien : /css ou le bouton dans la barre en haut
{% endblock %}