{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
<h1>Expériences professionnelles</h1>
        <p>Sur cette page, vous pouvez gérer vos expériences acquises lors de stages, de vos alternances et autres.</p>
{% endblock %}

{% block titre_section %}
	<h1>Liste des expériences</h1>
{% endblock %}

{% block page %}
 <p>
 	<a class="navbar-brand" href="{{ path ('experience_ajout') }}"><u>Ajouter une expérience</u></a>
 </p>
{% endblock %}