{% extends "PortfolioBundle:Default:layout2.html.twig" %}

{% block tete %}
<h1>Matrices</h1>
        <p>Sur cette page, vous pouvez ajouter un cursus à votre profil</p>
{% endblock %}

{% block titre_section %}
{% endblock %}

{% block page %}
<div class="form">
 <p>
 	{{ form_start(form_cup) }}
        {{ form_widget(form_cup) }}
        <input type="submit"  class="btn btn-primary" value="Enregistrer" />
    {{ form_end(form_cup) }}
 </p>
</div>

<div>HELLO</div>
{% endblock %}