{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
<h2>Test</h2>
<link rel=stylesheet media=text/css href="test.css" />
{% endblock %}

{% block titre_section %}
{% endblock %}

{% block page %}

	
    <div class="col-lg-6 col-sm-6" id="test">
    
            Hello
    </div>
    

{% endblock %}