

{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
<style style="text/css">
	/* Define the hover highlight color for the table row */
    .table-hover tbody tr:hover{
          background-color: #cfd8dc;
    }
</style>
	<h1>Recherche</h1>
    <!--<p>Trouvez la personne adaptée à vos besoins !</p>-->
{% endblock %}

{% block titre_section %}
	{% if resultatRequete is defined %}
		<h1>Résultats de la recherche pour '{{ userRecherche }}'.</h1>
	{% endif %}
{% endblock %}


{% block page %}
	<p>
		<!-- Parcours des résultats de la recherche. -->
		{% if resultatRequete is defined %}
			<center>
				<div class="row">
				<table class="table table-responsive table-bordered table-hover" style="max-width:800px;">
					<center>
	    				<thead style="background-color: #1c2331;">
	        				<tr style="color:#ffffff;font-family:Verdana;font-weight:300;">
		                		<th>Nom</th>
		                		<th>Profil</th>
		              		</tr>
		            	</thead>
					</center>

					<tbody>
						{% for resultat in resultatRequete %}
							<tr>
								<td style="padding-top:14px;font-size:16px;">
									<center>
										{{ resultat.prenom_utilisateur }} {{ resultat.nom_utilisateur }}
									</center>
								</td>

								<!-- Bouton de consultation du profil -->
								<td>
									<center>
										<button type="submit" class="btn btn-primary" style="padding:7px;">
											Consulter le profil 
								            <span class="glyphicon glyphicon-user"></span>
								        </button>
							    	</center>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			</center>
		{% endif %}
	</p>
{% endblock %}