

{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
	<style style="text/css">
		/* Define the hover highlight color for the table row */
	    .table-hover tbody tr:hover{
	          background-color: #cfd8dc;
	    }
	</style>
	<h1>Recherche</h1>
	<p>Trouvez le candidat idéal !</p>
{% endblock %}

{% block titre_section %}
	{% if resultatRequete is defined %}
		<h1>Résultats de la recherche pour '{{ userRecherche }}'.</h1>
	{% endif %}
{% endblock %}


{% block page %}
	<p>
		<!-- Parcours des résultats de la recherche. -->
		{% if resultatRequete is defined %}
			{% for resultat in resultatRequete %}
				<center>
					<div class="panel panel-primary" style="max-width:800px;border-color:#546e7a;" >
						<div class="panel-heading" style="border-color:#546e7a;background-image: linear-gradient(to bottom,#37474f   0,#546e7a   100%);border-bottom-right-radius:0px;border-bottom-left-radius:0px;">
							<h3 class="panel-title">
								{{ resultat.prenom_utilisateur }} {{ resultat.nom_utilisateur }}
							</h3>
						</div>
						<div class="panel-body">
								<button type="submit" class="btn btn-primary" style="padding:7px;">
									Consulter le profil 
						            <span class="glyphicon glyphicon-user"></span>
						        </button>
					    	</center>
					    </div>
					</div>
				</center>
			{% endfor %}
		{% endif %}
	</p>
{% endblock %}