{% extends "PortfolioBundle:Default:layout.html.twig" %}

{% block tete %}
	<h1>Recherche</h1>
    <!--<p>Trouvez la personne adaptée à vos besoins !</p>-->
{% endblock %}

{% block titre_section %}
	{% if resultatRequete is defined %}
		<h1>Résultats de la recherche</h1>
	{% endif %}
{% endblock %}


{% block page %}
	<p>
		<!-- Parcours des résultats de la recherche. -->
		{% if resultatRequete is defined %}
			{% for resTheme in resultatRequete %}
				<tr>
					<td>{{ resTheme.libelle_theme }}</td>
					
					<button type="submit" class="btn btn-primary" style="padding:7px;">
						Consulter le profil 
			            <span class="glyphicon glyphicon-user"></span>
			        </button>
				</tr>
				<br/><br/>
			{% endfor %}
		{% endif %}
	</p>
{% endblock %}